@import "tailwindcss";

/* FONTFACE */
@font-face {
    font-family: "plus-jakarta-sans-extrabold";
    src: url("./../../public/font/plus-jakarta-sans/PlusJakartaSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "plus-jakarta-sans-bold";
    src: url("./../../public/font/plus-jakarta-sans/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "plus-jakarta-sans-semibold";
    src: url("./../../public/font/plus-jakarta-sans/PlusJakartaSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "plus-jakarta-sans-medium";
    src: url("./../../public/font/plus-jakarta-sans/PlusJakartaSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "plus-jakarta-sans-regular";
    src: url("./../../public/font/plus-jakarta-sans/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "plus-jakarta-sans-light";
    src: url("./../../public/font/plus-jakarta-sans/PlusJakartaSans-Light.ttf") format("truetype");
}
/* END FONTFACE */

@theme {
    --color-primary: #C79023;
    --color-dark: #171717;
    --color-light: #FFFFFF;
    --color-gray: #F7F7F7;

    --font-default-black: 'plus-jakarta-sans-black', Arial, Helvetica, sans-serif;
    --font-default-extrabold: 'plus-jakarta-sans-extrabold', Arial, Helvetica, sans-serif;
    --font-default-bold: 'plus-jakarta-sans-bold', Arial, Helvetica, sans-serif;
    --font-default-semibold: 'plus-jakarta-sans-semibold', Arial, Helvetica, sans-serif;
    --font-default-medium: 'plus-jakarta-sans-medium', Arial, Helvetica, sans-serif;
    --font-default-regular: 'plus-jakarta-sans-regular', Arial, Helvetica, sans-serif;
    --font-default-light: 'plus-jakarta-sans-light', Arial, Helvetica, sans-serif;

    --spacing-container-default: 1rem;
    --spacing-container-sm: 2rem;
    --spacing-container-lg: 4rem;
    --spacing-container-xl: 4rem;
    --spacing-container-2xl: 6rem;
}

/* BASE */
@layer base {
    * {
        @apply text-dark font-default-medium duration-300;
        transition-property: color, background-color, background-image, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, box-shadow, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
    }

    html,
    body {
        @apply scroll-smooth;
    }

    button {
        @apply cursor-pointer;
    }
}
/* END BASE */

/* COMPONENTS */
@layer components {
    .container {
        @apply mx-auto px-container-default sm:px-container-sm lg:px-container-lg xl:px-container-xl 2xl:px-container-2xl;
    }

    .scroll-progress-bar {
        @apply fixed z-[15] top-0 left-0 right-0 h-[6px] origin-left bg-primary;
    }
}
/* END COMPONENTS */